body {
	background-color: #1c1c1c;
	font-family: 'Orbitron', sans-serif;
}

#time {

	margin-top: 20px;
	color: #E520BE;
	font-size: 130px;
	text-align: center;
	width: 1000px;
	margin-left: 150px;

}

#date {

	margin-top: 50px;
	color: #E520BE;
	font-size: 30px;
	text-align: center;
	width: 750px;
	margin-left: 250px;

}